body{
  background-color: lightgreen;
}
.header {
  height: 100px;
  margin-bottom: 100px;
  background-color: orange;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  height: 200px;
  width: 220px;
  background-color: lightblue;
  margin-right: 100px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container{
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}
.square{
  border: 1px solid bisque;
  height: 5px;
  width: 5px;
  background-color: white;
  display: inline-block;
}

button{
  height: 50px;
  width: 200px;
}
#color{
  display: flex;
  align-items: center;
  justify-content: center;
}
.penColor {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  margin: 3px;
}
.bgColor {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  margin: 3px;
}
#black{
  background-color: black;
}
#red{
  background-color: red;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
}
#blue{
  background-color: blue;
}
#orange{
  background-color: orange;
}
#lightblue{
  background-color: lightblue;
}